# OpenWeatherMap API Key
OPENWEATHER_API_KEY=your_openweathermap_api_key_here

# Firebase Configuration
FIREBASE_CRED_PATH=research-be48a-firebase-adminsdk-fbsvc-2792392e0a.json
FIREBASE_DB_URL=https://research-be48a-default-rtdb.firebaseio.com/
